In [10]:
import pandas as pd
import pandas_datareader.data as web
import fix_yahoo_finance as yf

yf.pdr_override()

# download yahoo financial data

In [18]:
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [19]:
all_data.items()

dict_items([('AAPL',                   Open        High         Low       Close   Adj Close  \
Date
1980-12-12    0.513393    0.515625    0.513393    0.513393    0.023268
1980-12-15    0.488839    0.488839    0.486607    0.486607    0.022054
1980-12-16    0.453125    0.453125    0.450893    0.450893    0.020435
1980-12-17    0.462054    0.464286    0.462054    0.462054    0.020941
1980-12-18    0.475446    0.477679    0.475446    0.475446    0.021548
1980-12-19    0.504464    0.506696    0.504464    0.504464    0.022863
1980-12-22    0.529018    0.531250    0.529018    0.529018    0.023976
1980-12-23    0.551339    0.553571    0.551339    0.551339    0.024987
1980-12-24    0.580357    0.582589    0.580357    0.580357    0.026303
1980-12-26    0.633929    0.636161    0.633929    0.633929    0.028731
1980-12-29    0.642857    0.645089    0.642857    0.642857    0.029135
1980-12-30    0.629464    0.629464    0.627232    0.627232    0.028427
1980-12-31    0.611607    0.611607    0.609375    0.609375    0.027618
1981-01-02    0.616071    0.620536    0.616071    0.616071    0.027921
1981-01-05    0.604911    0.604911    0.602679    0.602679    0.027314
1981-01-06    0.578125    0.578125    0.575893    0.575893    0.026100
1981-01-07    0.553571    0.553571    0.551339    0.551339    0.024987
1981-01-08    0.542411    0.542411    0.540179    0.540179    0.024482
1981-01-09    0.569196    0.571429    0.569196    0.569196    0.025797
1981-01-12    0.569196    0.569196    0.564732    0.564732    0.025594
1981-01-13    0.546875    0.546875    0.544643    0.544643    0.024684
1981-01-14    0.546875    0.549107    0.546875    0.546875    0.024785
1981-01-15    0.558036    0.562500    0.558036    0.558036    0.025291
1981-01-16    0.555804    0.555804    0.553571    0.553571    0.025089
1981-01-19    0.587054    0.589286    0.587054    0.587054    0.026606
1981-01-20    0.571429    0.571429    0.569196    0.569196    0.025797
1981-01-21    0.580357    0.584821    0.580357    0.580357    0.026303
1981-01-22    0.587054    0.591518    0.587054    0.587054    0.026606
1981-01-23    0.587054    0.589286    0.584821    0.584821    0.026505
1981-01-26    0.578125    0.578125    0.575893    0.575893    0.026100
...                ...         ...         ...         ...         ...
2018-04-26  164.119995  165.729996  163.369995  164.220001  163.589188
2018-04-27  164.000000  164.330002  160.630005  162.320007  161.696487
2018-04-30  162.130005  167.259995  161.839996  165.259995  164.625183
2018-05-01  166.410004  169.199997  165.270004  169.100006  168.450439
2018-05-02  175.229996  177.750000  173.800003  176.570007  175.891754
2018-05-03  175.880005  177.500000  174.440002  176.889999  176.210510
2018-05-04  178.250000  184.250000  178.169998  183.830002  183.123856
2018-05-07  185.179993  187.669998  184.750000  185.160004  184.448746
2018-05-08  184.990005  186.220001  183.669998  186.050003  185.335327
2018-05-09  186.550003  187.399994  185.220001  187.360001  186.640305
2018-05-10  187.740005  190.369995  187.649994  190.039993  189.309998
2018-05-11  189.490005  190.059998  187.449997  188.589996  188.589996
2018-05-14  189.009995  189.529999  187.860001  188.149994  188.149994
2018-05-15  186.779999  187.070007  185.100006  186.440002  186.440002
2018-05-16  186.070007  188.460007  186.000000  188.179993  188.179993
2018-05-17  188.000000  188.910004  186.360001  186.990005  186.990005
2018-05-18  187.190002  187.809998  186.130005  186.309998  186.309998
2018-05-21  188.000000  189.270004  186.910004  187.630005  187.630005
2018-05-22  188.380005  188.880005  186.779999  187.160004  187.160004
2018-05-23  186.350006  188.500000  185.759995  188.360001  188.360001
2018-05-24  188.770004  188.839996  186.210007  188.149994  188.149994
2018-05-25  188.229996  189.649994  187.649994  188.580002  188.580002
2018-05-29  187.600006  188.750000  186.869995  187.899994  187.899994
2018-05-30  187.720001  188.000000  186.779999  187.500000  187.500000
2018-05-31  187.220001  188.229996  186.139999  186.869995  186.869995
2018-06-01  187.990005  190.259995  187.750000  190.240005  190.240005
2018-06-04  191.639999  193.419998  191.350006  191.830002  191.830002
2018-06-05  193.070007  193.940002  192.360001  193.309998  193.309998
2018-06-06  193.630005  194.080002  191.919998  193.979996  193.979996
2018-06-07  194.139999  194.199997  192.335007  193.210007  193.210007

               Volume
Date
1980-12-12  117258400
1980-12-15   43971200
1980-12-16   26432000
1980-12-17   21610400
1980-12-18   18362400
1980-12-19   12157600
1980-12-22    9340800
1980-12-23   11737600
1980-12-24   12000800
1980-12-26   13893600
1980-12-29   23290400
1980-12-30   17220000
1980-12-31    8937600
1981-01-02    5415200
1981-01-05    8932000
1981-01-06   11289600
1981-01-07   13921600
1981-01-08    9956800
1981-01-09    5376000
1981-01-12    5924800
1981-01-13    5762400
1981-01-14    3572800
1981-01-15    3516800
1981-01-16    3348800
1981-01-19   10393600
1981-01-20    7520800
1981-01-21    3976000
1981-01-22    8887200
1981-01-23    2805600
1981-01-26    6160000
...               ...
2018-04-26   27963000
2018-04-27   35655800
2018-04-30   42427400
2018-05-01   53569400
2018-05-02   66539400
2018-05-03   34068200
2018-05-04   56201300
2018-05-07   42451400
2018-05-08   28402800
2018-05-09   23211200
2018-05-10   27989300
2018-05-11   26212200
2018-05-14   20778800
2018-05-15   23695200
2018-05-16   19183100
2018-05-17   17294000
2018-05-18   18297700
2018-05-21   18400800
2018-05-22   15240700
2018-05-23   19467900
2018-05-24   20401000
2018-05-25   17461000
2018-05-29   22369000
2018-05-30   18690500
2018-05-31   27482800
2018-06-01   23250400
2018-06-04   26132000
2018-06-05   21566000
2018-06-06   20835900
2018-06-07    7778196

[9452 rows x 6 columns]), ('IBM',                   Open        High         Low       Close   Adj Close  \
Date
1962-01-02    7.713333    7.713333    7.626667    7.626667    0.670064
1962-01-03    7.626667    7.693333    7.626667    7.693333    0.675921
1962-01-04    7.693333    7.693333    7.613333    7.616667    0.669185
1962-01-05    7.606667    7.606667    7.453333    7.466667    0.656007
1962-01-08    7.460000    7.460000    7.266667    7.326667    0.643707
1962-01-09    7.360000    7.506667    7.360000    7.413333    0.651321
1962-01-10    7.426667    7.460000    7.426667    7.426667    0.652492
1962-01-11    7.446667    7.506667    7.446667    7.506667    0.659521
1962-01-12    7.520000    7.573333    7.520000    7.520000    0.660693
1962-01-15    7.546667    7.570000    7.546667    7.553333    0.663621
1962-01-16    7.546667    7.546667    7.473333    7.473333    0.656593
1962-01-17    7.440000    7.440000    7.333333    7.353333    0.646049
1962-01-18    7.373333    7.446667    7.373333    7.373333    0.647807
1962-01-19    7.373333    7.393333    7.293334    7.380000    0.648393
1962-01-22    7.380000    7.453333    7.360000    7.366667    0.647221
1962-01-23    7.363333    7.373333    7.280000    7.293334    0.640778
1962-01-24    7.293334    7.333333    7.256667    7.333333    0.644293
1962-01-25    7.333333    7.393333    7.240000    7.253334    0.637264
1962-01-26    7.253334    7.280000    7.213333    7.216667    0.634043
1962-01-29    7.216667    7.266667    7.093333    7.093333    0.623206
1962-01-30    7.093333    7.133333    7.003334    7.003334    0.615299
1962-01-31    7.073333    7.226666    7.073333    7.226666    0.634921
1962-02-01    7.300000    7.413333    7.300000    7.393333    0.649564
1962-02-02    7.393333    7.440000    7.360000    7.440000    0.653664
1962-02-05    7.440000    7.440000    7.306667    7.346667    0.645464
1962-02-06    7.346667    7.360000    7.320000    7.353333    0.646137
1962-02-07    7.360000    7.400000    7.360000    7.360000    0.646724
1962-02-08    7.360000    7.400000    7.360000    7.366667    0.647309
1962-02-09    7.366667    7.420000    7.333333    7.420000    0.651996
1962-02-12    7.420000    7.480000    7.413333    7.426667    0.652581
...                ...         ...         ...         ...         ...
2018-04-26  146.600006  147.360001  146.199997  146.720001  145.109161
2018-04-27  146.839996  147.250000  145.660004  146.479996  144.871796
2018-04-30  146.860001  147.380005  144.960007  144.960007  143.368484
2018-05-01  144.649994  145.020004  143.470001  145.000000  143.408051
2018-05-02  144.460007  144.820007  142.070007  142.449997  140.886032
2018-05-03  142.130005  142.229996  139.899994  141.990005  140.431091
2018-05-04  141.100006  144.350006  140.279999  143.910004  142.330017
2018-05-07  144.000000  144.320007  142.639999  143.220001  141.647583
2018-05-08  143.000000  143.509995  142.059998  143.000000  141.430008
2018-05-09  141.899994  143.020004  141.279999  142.610001  142.610001
2018-05-10  143.149994  144.330002  143.009995  144.240005  144.240005
2018-05-11  144.110001  144.850006  143.580002  144.139999  144.139999
2018-05-14  144.470001  145.119995  144.139999  144.300003  144.300003
2018-05-15  143.500000  143.990005  142.919998  143.740005  143.740005
2018-05-16  143.699997  145.029999  143.270004  144.630005  144.630005
2018-05-17  144.500000  145.190002  143.770004  144.500000  144.500000
2018-05-18  144.470001  144.940002  143.990005  144.080002  144.080002
2018-05-21  144.949997  146.039993  144.679993  145.490005  145.490005
2018-05-22  145.520004  146.199997  145.000000  145.089996  145.089996
2018-05-23  144.350006  144.699997  143.479996  144.669998  144.669998
2018-05-24  144.389999  144.479996  142.949997  144.070007  144.070007
2018-05-25  143.899994  144.570007  143.460007  143.639999  143.639999
2018-05-29  142.529999  142.889999  140.210007  141.220001  141.220001
2018-05-30  141.899994  143.100006  141.820007  142.619995  142.619995
2018-05-31  142.809998  142.809998  141.050003  141.309998  141.309998
2018-06-01  142.429993  142.839996  141.619995  141.949997  141.949997
2018-06-04  142.300003  143.169998  142.179993  143.039993  143.039993
2018-06-05  143.050003  144.080002  143.039993  143.699997  143.699997
2018-06-06  144.339996  144.720001  143.539993  144.710007  144.710007
2018-06-07  145.000000  146.699997  144.949997  145.639999  145.639999

             Volume
Date
1962-01-02   387200
1962-01-03   288000
1962-01-04   256000
1962-01-05   363200
1962-01-08   544000
1962-01-09   491200
1962-01-10   299200
1962-01-11   315200
1962-01-12   435200
1962-01-15   251200
1962-01-16   251200
1962-01-17   419200
1962-01-18   371200
1962-01-19   400000
1962-01-22   275200
1962-01-23   371200
1962-01-24   408000
1962-01-25   315200
1962-01-26   243200
1962-01-29   579200
1962-01-30   736000
1962-01-31   760000
1962-02-01   640000
1962-02-02   507200
1962-02-05   312000
1962-02-06   256000
1962-02-07   251200
1962-02-08    16000
1962-02-09   432000
1962-02-12   280000
...             ...
2018-04-26  4265800
2018-04-27  3205500
2018-04-30  4415500
2018-05-01  4433400
2018-05-02  5194900
2018-05-03  5018600
2018-05-04  4402200
2018-05-07  3657000
2018-05-08  5369100
2018-05-09  4196000
2018-05-10  3726600
2018-05-11  3073200
2018-05-14  3216100
2018-05-15  4089400
2018-05-16  3168700
2018-05-17  3147700
2018-05-18  2682200
2018-05-21  2894700
2018-05-22  2284000
2018-05-23  3382000
2018-05-24  3390100
2018-05-25  4914300
2018-05-29  4518700
2018-05-30  5118500
2018-05-31  6830300
2018-06-01  3835800
2018-06-04  2920200
2018-06-05  2836000
2018-06-06  3218600
2018-06-07  1733972

[14206 rows x 6 columns]), ('MSFT',                   Open        High         Low       Close   Adj Close  \
Date
1986-03-13    0.088542    0.101563    0.088542    0.097222    0.071132
1986-03-14    0.097222    0.102431    0.097222    0.100694    0.073673
1986-03-17    0.100694    0.103299    0.100694    0.102431    0.074943
1986-03-18    0.102431    0.103299    0.098958    0.099826    0.073038
1986-03-19    0.099826    0.100694    0.097222    0.098090    0.071768
1986-03-20    0.098090    0.098090    0.094618    0.095486    0.069862
1986-03-21    0.095486    0.097222    0.091146    0.092882    0.067957
1986-03-24    0.092882    0.092882    0.089410    0.090278    0.066052
1986-03-25    0.090278    0.092014    0.089410    0.092014    0.067322
1986-03-26    0.092014    0.095486    0.091146    0.094618    0.069227
1986-03-27    0.094618    0.096354    0.094618    0.096354    0.070497
1986-03-31    0.096354    0.096354    0.093750    0.095486    0.069862
1986-04-01    0.095486    0.095486    0.094618    0.094618    0.069227
1986-04-02    0.094618    0.097222    0.094618    0.095486    0.069862
1986-04-03    0.096354    0.098958    0.096354    0.096354    0.070497
1986-04-04    0.096354    0.097222    0.096354    0.096354    0.070497
1986-04-07    0.096354    0.097222    0.092882    0.094618    0.069227
1986-04-08    0.094618    0.097222    0.094618    0.095486    0.069862
1986-04-09    0.095486    0.098090    0.095486    0.097222    0.071132
1986-04-10    0.097222    0.098958    0.095486    0.098090    0.071768
1986-04-11    0.098958    0.101563    0.098958    0.099826    0.073038
1986-04-14    0.099826    0.101563    0.099826    0.100694    0.073673
1986-04-15    0.100694    0.100694    0.097222    0.100694    0.073673
1986-04-16    0.100694    0.105035    0.099826    0.104167    0.076213
1986-04-17    0.104167    0.105035    0.104167    0.105035    0.076848
1986-04-18    0.105035    0.105035    0.100694    0.101563    0.074308
1986-04-21    0.101563    0.102431    0.098958    0.101563    0.074308
1986-04-22    0.101563    0.101563    0.099826    0.099826    0.073038
1986-04-23    0.099826    0.100694    0.098958    0.100260    0.073355
1986-04-24    0.100260    0.111979    0.099826    0.110243    0.080659
...                ...         ...         ...         ...         ...
2018-04-26   93.550003   95.150002   93.099998   94.260002   93.853210
2018-04-27   97.599998   97.900002   93.910004   95.820000   95.406471
2018-04-30   96.330002   96.400002   93.150002   93.519997   93.116394
2018-05-01   93.209999   95.290001   92.790001   95.000000   94.590012
2018-05-02   94.989998   95.169998   93.190002   93.510002   93.106445
2018-05-03   92.959999   94.930000   92.449997   94.070000   93.664024
2018-05-04   93.320000   95.370003   92.919998   95.160004   94.749321
2018-05-07   95.169998   96.709999   95.099998   96.220001   95.804749
2018-05-08   95.849998   96.160004   95.059998   95.809998   95.396515
2018-05-09   96.010002   96.970001   95.050003   96.940002   96.521645
2018-05-10   97.459999   97.949997   97.050003   97.910004   97.487457
2018-05-11   97.800003   97.870003   97.040001   97.699997   97.278358
2018-05-14   97.919998   98.690002   97.309998   98.029999   97.606934
2018-05-15   97.239998   97.849998   96.339996   97.320000   96.900002
2018-05-16   97.360001   97.400002   96.620003   97.150002   97.150002
2018-05-17   96.760002   97.540001   95.830002   96.180000   96.180000
2018-05-18   96.010002   96.930000   96.010002   96.360001   96.360001
2018-05-21   97.000000   98.010002   96.800003   97.599998   97.599998
2018-05-22   97.680000   98.169998   97.199997   97.500000   97.500000
2018-05-23   96.709999   98.730003   96.320000   98.660004   98.660004
2018-05-24   98.730003   98.940002   96.809998   98.309998   98.309998
2018-05-25   98.300003   98.980003   97.860001   98.360001   98.360001
2018-05-29   97.839996   98.879997   97.230003   98.010002   98.010002
2018-05-30   98.309998   99.250000   97.910004   98.949997   98.949997
2018-05-31   99.290001   99.989998   98.610001   98.839996   98.839996
2018-06-01   99.279999  100.860001   99.169998  100.790001  100.790001
2018-06-04  101.260002  101.860001  100.849998  101.669998  101.669998
2018-06-05  102.000000  102.330002  101.529999  102.190002  102.190002
2018-06-06  102.480003  102.599998  101.900002  102.489998  102.489998
2018-06-07  102.650002  102.680000  100.919998  101.430000  101.430000

                Volume
Date
1986-03-13  1031788800
1986-03-14   308160000
1986-03-17   133171200
1986-03-18    67766400
1986-03-19    47894400
1986-03-20    58435200
1986-03-21    59990400
1986-03-24    65289600
1986-03-25    32083200
1986-03-26    22752000
1986-03-27    16848000
1986-03-31    12873600
1986-04-01    11088000
1986-04-02    27014400
1986-04-03    23040000
1986-04-04    26582400
1986-04-07    16560000
1986-04-08    10252800
1986-04-09    12153600
1986-04-10    13881600
1986-04-11    17222400
1986-04-14    12153600
1986-04-15     9302400
1986-04-16    31910400
1986-04-17    22003200
1986-04-18    21628800
1986-04-21    22924800
1986-04-22    15552000
1986-04-23    15609600
1986-04-24    62352000
...                ...
2018-04-26    42529000
2018-04-27    48272800
2018-04-30    41523600
2018-05-01    31408900
2018-05-02    27471000
2018-05-03    31142500
2018-05-04    22531300
2018-05-07    24242000
2018-05-08    23484600
2018-05-09    27327400
2018-05-10    22388100
2018-05-11    16778300
2018-05-14    19454100
2018-05-15    24594000
2018-05-16    17384700
2018-05-17    17246700
2018-05-18    17865800
2018-05-21    19422500
2018-05-22    15441200
2018-05-23    21114800
2018-05-24    21540800
2018-05-25    18363900
2018-05-29    28338000
2018-05-30    22158500
2018-05-31    34140900
2018-06-01    28126200
2018-06-04    27166800
2018-06-05    23514400
2018-06-06    21084500
2018-06-07     9457997

[8127 rows x 6 columns]), ('GOOG',                    Open         High          Low        Close    Adj Close  \
Date
2004-08-19    49.676899    51.693783    47.669952    49.845802    49.845802
2004-08-20    50.178635    54.187561    49.925285    53.805050    53.805050
2004-08-23    55.017166    56.373344    54.172661    54.346527    54.346527
2004-08-24    55.260582    55.439419    51.450363    52.096165    52.096165
2004-08-25    52.140873    53.651051    51.604362    52.657513    52.657513
2004-08-26    52.135906    53.626213    51.991844    53.606342    53.606342
2004-08-27    53.700729    53.959049    52.503513    52.732029    52.732029
2004-08-30    52.299839    52.404160    50.675404    50.675404    50.675404
2004-08-31    50.819469    51.519913    50.749920    50.854240    50.854240
2004-09-01    51.018177    51.152302    49.512966    49.801090    49.801090
2004-09-02    49.274517    50.854240    49.150326    50.427021    50.427021
2004-09-03    50.148830    50.541279    49.339096    49.681866    49.681866
2004-09-07    50.178635    50.670437    49.483158    50.461796    50.461796
2004-09-08    50.044510    51.182110    49.925285    50.819469    50.819469
2004-09-09    50.933723    51.023144    50.173668    50.824436    50.824436
2004-09-10    50.471729    52.935703    50.322701    52.324677    52.324677
2004-09-13    52.970478    53.854729    52.886028    53.402668    53.402668
2004-09-14    53.377831    55.638126    53.049961    55.384777    55.384777
2004-09-15    54.922779    56.745922    54.743942    55.638126    55.638126
2004-09-16    55.807030    57.525848    55.464260    56.616764    56.616764
2004-09-17    56.840309    58.365391    56.408119    58.365391    58.365391
2004-09-20    58.097134    60.407108    58.007717    59.294346    59.294346
2004-09-21    59.517895    59.820923    58.375324    58.539257    58.539257
2004-09-22    58.320679    59.448345    58.027588    58.807514    58.807514
2004-09-23    59.036026    60.918781    58.131908    60.019630    60.019630
2004-09-24    60.079243    61.649033    59.493053    59.527828    59.527828
2004-09-27    59.393700    60.049435    58.519386    58.747902    58.747902
2004-09-28    60.258080    63.288372    59.716602    63.020115    63.020115
2004-09-29    62.940632    67.073753    62.707150    65.116478    65.116478
2004-09-30    64.530296    65.722542    64.083199    64.381264    64.381264
...                 ...          ...          ...          ...          ...
2018-04-26  1029.510010  1047.979980  1018.190002  1040.040039  1040.040039
2018-04-27  1046.000000  1049.500000  1025.589966  1030.050049  1030.050049

In [20]:
adj_Close = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})
adj_Close.tail()

                  AAPL         GOOG         IBM        MSFT
Date
2018-06-01  190.240005  1119.500000  141.949997  100.790001
2018-06-04  191.830002  1139.290039  143.039993  101.669998
2018-06-05  193.309998  1139.660034  143.699997  102.190002
2018-06-06  193.979996  1136.880005  144.710007  102.489998
2018-06-07  193.210007  1124.131348  145.639999  101.430000

In [21]:
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})
volume.tail()

                  AAPL       GOOG      IBM        MSFT
Date
2018-06-01  23250400.0  2412000.0  3835800  28126200.0
2018-06-04  26132000.0  1880000.0  2920200  27166800.0
2018-06-05  21566000.0  1678000.0  2836000  23514400.0
2018-06-06  20835900.0  1695200.0  3218600  21084500.0
2018-06-07   7778196.0   763914.0  1733972   9457997.0

In [22]:
returns = adj_Close.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2018-06-01  0.018034  0.031807  0.004529  0.019729
2018-06-04  0.008358  0.017678  0.007679  0.008731
2018-06-05  0.007715  0.000325  0.004614  0.005115
2018-06-06  0.003466 -0.002439  0.007029  0.002936
2018-06-07 -0.003969 -0.011214  0.006427 -0.010342

# correlation

In [23]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.454585  0.357423  0.387483
GOOG  0.454585  1.000000  0.391229  0.465283
IBM   0.357423  0.391229  1.000000  0.436181
MSFT  0.387483  0.465283  0.436181  1.000000

In [24]:
returns.corrwith(returns['IBM'])

AAPL    0.357423
GOOG    0.391229
IBM     1.000000
MSFT    0.436181
dtype: float64

In [25]:
returns['MSFT'].corr(returns['IBM'])

0.4361805987442487

In [26]:
returns.corrwith(volume)

AAPL   -0.002335
GOOG    0.047488
IBM    -0.000879
MSFT   -0.003821
dtype: float64

# covariance

In [27]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000865  0.000182  0.000177  0.000240
GOOG  0.000182  0.000368  0.000100  0.000146
IBM   0.000177  0.000100  0.000251  0.000163
MSFT  0.000240  0.000146  0.000163  0.000465

In [28]:
returns['MSFT'].cov(returns['IBM'])

0.00016301955199262086